body {
  background-color: rgba(79, 109, 122, 0.6);
}

.container {
  background-color: rgba(192, 214, 223, 1);
  padding: 25px;
  border-radius: 10px;
  margin: 50px auto;
}

label {
  margin-top: 5px;
}

button {
  margin-top: 20px;
}
