<div class="container mt-5">
  <h2>Cadastro de Produtos</h2>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputNome">Nome</label>
      <input
        type="text"
        class="form-control"
        id="inputNome"
        placeholder="Nome do produto"
        [(ngModel)]="nomeProduto"
      />
    </div>

    <div class="form-group col-md-6">
      <label for="inputId">ID</label>
      <input
        type="number"
        class="form-control"
        id="inputId"
        placeholder="ID do produto"
        [(ngModel)]="idProduto"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputDescricao">Descrição</label>
    <textarea
      class="form-control"
      id="inputDescricao"
      rows="3"
      placeholder="Descrição do produto"
      [(ngModel)]="descricao"
    ></textarea>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPreco">Preço</label>
      <input
        type="number"
        class="form-control"
        id="inputPreco"
        placeholder="Preço do produto"
        [(ngModel)]="preco"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputQuantidade">Quantidade</label>
      <input
        type="number"
        class="form-control"
        id="inputQuantidade"
        placeholder="Quantidade do produto"
        [(ngModel)]="quantidade"
      />
    </div>
  </div>
  <button class="btn btn-primary" (click)="addProduto()">Cadastrar</button>
</div>

<div class="container mt-5 produto" *ngIf="listaProdutos.length > 0">
  <h2>Produtos Disponíveis</h2>

  <app-cadastro-prdutos
    *ngFor="let p of listaProdutos"
    [produto]="p"
  ></app-cadastro-prdutos>
</div>
